.contact {
  padding: 4rem 2rem;
  background: #f9f9f9;
  text-align: center;

  form {
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input, textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
  }

  button {
    background: #e41e26;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
  }
}
